<div class="timepicker">
  <div class="timepicker-picker">
    <table class="table-condensed">
      <tbody>
        <tr>
          <td>
            <a href="#" tabindex="-1" class="btn" on-click={this.resetTime(hour + 1, minute)} >
              <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </td>
          <td class="separator"></td>
          <td>
            <a href="#" tabindex="-1" class="btn" on-click={this.resetTime(hour, minute + 1)} >
              <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <input class="timepicker-hour" value={hour}>
          </td>
          <td class="separator">:</td>
          <td>
            <input class="timepicker-minute" value={minute}>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#" tabindex="-1" class="btn" on-click={this.resetTime(hour -1, minute)} >
              <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
          </td>
          <td class="separator"></td>
          <td>
            <a href="#" tabindex="-1" class="btn" >
              <span class="glyphicon glyphicon-chevron-down" on-click = {this.resetTime(hour, minute - 1)} ></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>